.form-container{
    padding: 50px;
}

.form label{
    font-family: 'Azeret Mono', monospace;
    color: white;
    text-align: left;
    width: 100%;
    display: inline-block;
}
.form h1{
    color: white;
    text-align: center;
}

.form input[type=text]{
    width: 100%;
	padding: 12px 20px;
  	margin: 8px 0;
	border: 1px solid #ccc;
  	box-sizing: border-box;
	border-radius: 4px;
	color: #505866;
    font-family: 'Azeret Mono', monospace;
}

.form input[type=submit]{
    font-family: 'Azeret Mono', monospace;
    border: none;
    background-color: white;
    padding: 10px;
    margin: 10px auto;
    display: block; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form a{
    text-decoration: underline;
    margin-top: 20px;;
    text-align: center;
    display: block;
    font-family: 'Azeret Mono', monospace;
    color: white;
}