.editRanking{
   position: fixed;
   bottom:0;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
}

.editRanking-add{
    display: inline-block;
    background-color: green;
    border-radius: 10px;
}

.editRanking-remove{
    display: inline-block;
    background-color: red;
    border-radius: 10px;
}

.editRanking-text{
    height:100%;
    border: none;
    font-size: 24px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
}