.modal{
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 5;
}


.modal.enter-done{
    opacity: 1;
    pointer-events: visible;
}

.modal.exit {
    opacity: 0;
}

.modal-content{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid 10px white;
    transform: translateY(-200px);
    transition: all 0.3s ease-in-out;
}

.modal-content i{
    color: white;
    font-size: xx-large;
}

.modal.enter-done .modal-content{
    transform: translateY(0);
}

.modal.exit .modal-content{
    transform: translateY(-200px);
}

.modal-content > button{
    position:absolute;
    top:0;
    right:0; 
    background-color: transparent;
    box-shadow: none;
}